.body {
    height: 100vh;
    width: 100%;
    background-color: #fff6c1;
    position: relative;
}

.main {
    width: 100rem;
    height: 55rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5rem 10rem 0rem rgba(0, 0, 0, 0.288);
    background-color: rgb(212, 212, 212);

    &__heading {
        margin-top: 3rem;
        text-align: center;
        font-size: 3rem;
        color: rgb(230, 155, 44);
        animation: init 1s ease-in;
        animation-fill-mode: backwards;
    }
}

.quiz {

    &__body {

        // position: relative;
    }

    &__question {

        // animation: quiz_body_animation .5s ease-in;
        // animation-delay: 1s;
        // animation-fill-mode: backwards;

        // left: 50%;
        //  width: 90%;
        padding: 1rem 8rem;
        margin-top: 6rem;
        text-align: center;
        font-size: 2.8rem;
        color: black;
        // op
    }

    &__options {

        // animation: quiz_body_animation .5s ease-in;
        animation-delay: 1s;
        animation-fill-mode: backwards;

        text-align: left;
        list-style: none;

        padding: 0 10rem;
        margin: 0;
        // width: 30rem;

        display: flex;



        &__list {

            transition: all .5s ease;

            // &::before {content: "◎"; color: red;

            // padding: 0 2rem 0 .5rem; 
            // }

            width: 35rem;
            padding: 1rem;
            text-align: center;
            height: 10rem;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            background-color: gray;
            font-size: 1.8rem;
            color: black;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 1rem 0rem;
            // // margin-right: 3rem;
            // border-bottom: 1px solid rgb(179, 179, 179);
            // transition: background .5s ease;
            box-shadow: 0 0rem 2rem 0rem rgba(0, 0, 0, 0.288);


            &:hover {
                box-shadow: 0 1rem 2rem 0rem rgba(0, 0, 0, 0.288);
            }
        }
    }
}



@keyframes quiz_body_animation {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes init {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}


.wrong {
    background-color: rgb(255, 71, 71);
    transition: all .3s ease;
}

.right {
    background-color: rgb(70, 214, 70);
    transition: all .3s ease;
}